

<form class="" action="index.html" method="post">
  <label for="recipe-form"></label>
<input type="text" name="recipe-name" value="" placeholder="name">
<input type="text" name="reipe-ingredients" value="" placeholder="ingredients">
<input type="text" name="recipe-description" value="" placeholder="description">
<button type="button" name="button">Add</button>
</form>



<h1>Recipes</h1>
<app-recipe-list [childRecipeList]="masterRecipieList" (clickSender)="viewRecipeClicked($event)"></app-recipe-list>


<div *ngIf="selectedRecipe">The Recipe!

<h3>{{selectedRecipe.title}}</h3>
<h3>View Recipe</h3>
<input [(ngModel)]="selectedRecipe.title">
<input [(ngModel)]="selectedRecipe.ingredients">
<input [(ngModel)]="selectedRecipe.procedure">
<button (click)="clear()">Clear</button>
</div>
